.main-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: repeat(5, 20vh) / repeat(4, 25vw);
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    grid-row: 1 / 6;
    grid-column: 1 / 2;
    background-color: #4590CE;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 20px;
}

.sidebar ul {
    list-style-type: none;
    font-size: 1.2rem;
    padding-left: 0;
    margin-left: 0;
    padding-left: 30px;
}

.sidebar ul li {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 20px;
    gap: 15px;
}

.sidebar .large-icons {
    width: 50px;
    height: 50px;
}

.sidebar .icons {
    width: 20px;
    height: 20px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.logo-container h2 {
    font-size: 1.7rem;
}

.header {
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    padding: 0 0 20px 0;
    background-color: #FFFFFF;
}

.header .icons {
    width: 20px;
    height: 20px;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 40px 0px 40px;
    height: 40%;
}

.search-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    gap: 20px;
}

.search-bar {
    background-color: #E3E8EF;
    height: 30px;
    width: 80%;
    border-radius: 20px;
}

.right-top-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

.circle {
    border: 3px solid black;
    border-radius: 100%;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: #F3CE49;
}

.large-icons {
    width: 100%;
    height: 100%;
}

.bottom-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 40px;
    height: 60%;
}

.left-bottom-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    gap: 10px;
}

.stacked-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hello {
    font-size: 0.7rem;
    font-weight: bold;
}

.large-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.right-bottom-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 20%;
}

.right-bottom-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

button {
    color: white;
    background-color: #4590CE;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 80px

}

.content-body {
    grid-row: 2 / 6;
    grid-column: 2 / 5;
    background-color: #E3E8EF;
    display: grid;
    grid-template: 100% / 35% 35% 30%;
    padding: 0 20px 50px 20px;
}

.left-body {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: grid;
    grid-template: 8% 92% / repeat(2, 50%)
}

.left-body-header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    color: black;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 8px;
}

.left-body-body {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.cards {
    background-color: white;
    width: 43%;
    height: 30%;
    border-radius: 10px;
    border-left: 10px solid #F3CE49;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15px 0 15px;
}

.card-header {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.card-text {
    color: #636363;
    font-size: 0.9rem;
}

.card-icon-holder {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: flex-end;
    margin-top: 30px;
}

.right-body {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    border: 1px solid black;
    display: grid;
    grid-template: 8% 44% 8% 40% / 100%;
    margin-left: 5px;
}

.right-body-header {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    color: black;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 8px;
    margin-top: 18px;
}

.right-body-top-card {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.right-body-top-card .card-header {
    font-size: 0.9rem;
}

.right-body-top-card .card-text{
    font-size: 0.8rem;
}
hr {
    width: 100%;
}

.right-body-header-bottom {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    color: black;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 8px;
}

.right-body-bottom {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.right-body-bottom-card {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

.right-body-bottom-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.right-body-bottom-section span {
    color: #636363;
    font-size: 0.9rem;
}